@media (max-width:700px){

.system-navbar{

display: none;

}

.mobile-navbar{

    visibility: visible !important;
    
    }
.mobile-optoins{
    display: flex !important;
}


}





.mobile-navbar{

visibility: hidden;

}


.mobile-navbar ul{
position: relative;
padding: 20px;
display: flex !important;
justify-content: space-between;
color: white;

list-style: none;

}

.mobile-navbar ul li:first-child{
text-align: center;
justify-content: center;
align-items: center;
display: flex;
border-radius: 50px;

}


.mobile-navbar ul li:first-child a{

color: white;
text-decoration: none;

}

.mobile-navbar ul li:last-child {
    cursor: pointer;
    
    border-radius: 50px;
    padding: 10px;

}
.img-search{

    display: flex;
    justify-content: center;align-items: center;
}


.li {

    transform: translatex(100px);
    transition: 0.2s ease-in;

}

.backLi {
    transform: translatex(0);
    transition: 1s ease all;
}


.search-overlay {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    transition: all 0.5s ease-in-out;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20%;
}

.search-overlay.active {
    top: 0;
}

.search-container {
    width: 80%;
    max-width: 600px;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    outline: none;
    direction: rtl;
}

.close-btn {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s;
}


.close-btn:hover {
    color: #666;
}



.mobile-optoins{
display: none;
background-color: #333;
position: fixed;
bottom: 0;
width: 100%;
height: 50px;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}


.mobile-optoins-ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    text-align: center;
    
    list-style: none;
    text-decoration: none;
}




.system-options{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-color: #333;
width: 100%;
height: 60x;
list-style: none;


}

.system-options ul li a{

    color: aliceblue;
}